.about-us{
  background-color: #F2F6FA;

  &__content{
    margin: 0 auto;
    padding-block: 120px;
    max-width: 754px;
  }

  &__title{
    color: #253757;
    font-family: Poppins , sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 24px;

    @include on-tablet{
      padding-bottom: 16px;
    }
  }

  &__text{
    color: #6C788B;
    text-align: center;
    font-family: Open Sans , sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0px;

    @include on-tablet{
      font-size: 24px;
    }
  }
}
