.button{
  display: flex;
  text-decoration: none;
  color: #fff;
  height: 55px;
  width: 100%;

  background-color: #2060F6;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;

  font-family: Poppins ,sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;

  @include on-tablet{
    width: 265px;
  }

  @include hover(transform, scale(1.2));
}
