.contact-us{
  width: 100%;
  background-color: #2C2C2C;



  &__container{
    padding-block: 72px 80px;

    @include on-tablet{
      padding-block: 180px 139px;
    }

    @include on-desktop{
      padding-bottom: 104px;
  }

    @include page-grid;
    
      row-gap: 80px;

      @include on-tablet{
        row-gap: 120px;
      }
  }

  &__message{
    display: flex;
    flex-direction: column;
    grid-column: span 2;

    @include on-tablet{
      grid-column: span 4;
    }

    @include on-desktop{
      grid-column: 1 / 6;
    }

    &--title{
      font-family: Poppins ,sans-serif;
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      vertical-align: middle;
      color: #fff;
    }

    &--inputs{
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-block: 48px 56px;

      @include on-tablet{
        margin-block: 56px 80px;
      }
    }

    &--input{
      color: #fff;
      border: none;
      height: 41px;
      background-color: #2C2C2C;
      border-bottom: solid 1px #fff;

      font-family: Poppins , sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 100%;

      &:focus{
        border-bottom: solid 1px #144ED4;
        outline: none;
      }
    }
  }

  &__contacts{
    display: flex;
    flex-direction: column;
    gap: 48px;
    grid-column: span 2;

    @include on-tablet{
      gap: 56px;
      grid-column: span 4;
    }

    @include on-desktop{
      grid-column: 7 / 12;
    }

    &--title{
      font-family: Poppins , sans-serif;
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
      vertical-align: middle;
      color: #fff;

    }

    &--info{
      display: flex;
      flex-direction: column;
      gap: 40px;


      @include on-tablet{
        gap: 48px;
      }
    }

    &--block{
      display: flex;
      flex-direction: column;
      gap: 8px;

      &-title{
        font-family: Poppins , sans-serif;
        font-weight: 700;
        font-size: 13px;
        line-height: 100%;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #6C788B;
      }

      &-text{
        font-family: "Open Sans" , sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
        color: #fff;
      }

      &-icons{
        display: flex;
        gap: 32px;
      }
    }
  }

  &__footer{
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    @include on-desktop{
      flex-direction: row;
    }

    &--list{
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include on-tablet{
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
      }

      @include on-desktop{
        justify-content: flex-end;
        gap: 64px;
      }
    }

    &--item{
      text-decoration: none;
      font-family: Poppins , sans-serif;
      font-weight: 700;
      font-size: 13px;
      line-height: 150%;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #fff;
    }
  }
}
