.header{
  background-color: #2C2C2C;
  height: 893px;
  border-radius:0 0 30px 30px;

  @include on-desktop{
    height: 100vh;
  }

  &__content{
    @include page-grid;
  }

  &__title{
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 72px;
    grid-column: span 2;

    @include on-tablet{
      gap: 56px;
      grid-column: span 6;
      padding-top: 56px;
    }

    @include on-desktop{
      gap: 83px;
      grid-column: span 4;
      padding-top: 164px;
    }

    &--block-1{
      display: flex;
      flex-direction: column;
      gap: 32px;

      @include on-tablet{
        gap: 24px;
      }
    }

    &--text{
      font-family: Poppins , sans-serif;
      font-weight: 600;
      font-size: 52px;
      line-height: 120%;
      letter-spacing: -2px;
      color: #fff;

      @include on-tablet{
        font-size: 64px;
        line-height: 68px;
      }
    }

    &--subtitle{
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #fff;
    }
  }

  &__button{
    width: 100%;
  }
}
