.icon{
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  &--contacts{
    width: 32px;
    height: 32px;
    fill: #ffffff;

    &:hover{
      fill: #2060F6;
    }
  }

  &--menu{
    background-image: url(../images/logo/Menu.svg);

    @include on-desktop{
      display: none;
    }
  }

  &--close{
    background-image: url(../images/logo/Icon-Close.svg);
  }
}
