.menu{
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba($color: #2C2C2C, $alpha: 1);

  &__content{
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__nav{
    &--list{
      display: flex;
      flex-direction: column;
      gap: 40px;
      list-style: none;
    }
  }
}
