.nav{
  &__list{

    list-style-type: none;
    display: none;

    @include on-desktop{
      display: flex;
      gap: 48px;
    }
  }

    &__link{
    text-decoration: none;
    color: inherit;
  }


  &__item{
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }

}
