.our-expertise{
  background-color: #fff;
  border-radius: 30px;

  &__title{
    padding-block: 72px 52px;
    color: #253757;
    font-family: Poppins;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    vertical-align: middle;

    @include on-tablet{
      padding-block: 128px 64px;
      font-size: 52px;
    }

    @include on-desktop{
      padding-block: 128px 64px;
    }
  }

  &__items{
    padding-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;



    @include on-desktop{
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 128px;
    }
    @include on-tablet{
      gap: 72px;
      padding-bottom: 134px;
    }
  }

  &__item{
    max-width: 362px;
    @include hover(transform, scale(1.2));

    &--photo{
      display: block;
      border-radius: 16px;
      margin-inline: auto;
    }

    &--title{
      color: #253757;
      padding-block: 32px 16px;
      font-family: Poppins;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      text-align: center;

      @include on-desktop{
        padding-top: 40px;
      }
    }

    &--text{
      font-family: Open Sans;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      color: #6C788B;
    }
  }
}
