.services{
  box-sizing: border-box;
  padding-block: 120px;

  &__grid{
    @include page-grid;
  }

  @include on-tablet{
    padding-block: 148px;
  }

  &__text{

    grid-column: span 2;

    @include on-tablet{
      grid-column: span 3;
    }

    @include on-desktop{
      grid-column: span 4;
      padding-top: 103px;
    }

    &--title{
      padding-top: 16px;
      font-family: Poppins;
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      vertical-align: middle;
      color: #253757;

      &::before{
        padding-bottom: 16px;
        display: block;
        content: "Services";
        font-family: Poppins;
        font-weight: 700;
        font-size: 13px;
        line-height: 100%;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #C0CDD7;
      }
    }

    &--info{
      padding-block: 24px 32px;
      font-family: Open Sans;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #6C788B;
    }
  }



  &__card{
    grid-column: span 2;

    box-sizing: border-box;
    height: 264px;
    padding: 32px 0 32px 32px;
    background-color: #fff;
    border-radius: 16px;
    &:not(:last-child){
    margin-bottom: 24px;
    }

    &-1{
      @include on-tablet{
        grid-column: 1 / 4;
      }

      @include on-desktop{
        grid-column: 7 / 10;
        transform: translateY(139px);
      }
    }

    &-2{
      @include on-tablet{
        grid-column: 4 / 7;
        transform: translateY(-132px)
      }

      @include on-desktop{
        grid-column: 10 / 13;
        transform: translateY(0)
      }
    }

    &-3{
      @include on-tablet{
        grid-column: 1 / 4;
      }

       @include on-desktop{
        grid-column: 7 / 10;
        transform: translateY(65px);
      }
    }

    &-4{
      @include on-tablet{
        grid-column: 4 / 7;
        transform: translateY(-132px);
      }

      @include on-desktop{
        grid-column: 10 / 13;
       transform: translateY(-75px);
      }
    }


    &--number{
      text-align: center;
      line-height: 24px;
      width: 46px;
      height: 24px;
      background-color: #2060f61a;
      color: #2060F6;
      border-radius: 16px;
    }

    &--list{
      list-style: none;
      margin: 0;
      padding: 0;
      padding-block: 24px 32px;
    }

    &--item{
      font-family: Open Sans;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      color: #6C788B;
    }

    &--footer{
      display: flex;
      align-items: center;
      gap: 24px;
       text-decoration: none;

      &-text{
        font-family: Poppins;
        font-weight: 600;
        font-size: 15px;
        line-height: 100%;
        color: #334563;
      }
    }

    &--button{
      height: 40px;
      width: 40px;

    }
  }
}
