.top-bar{
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: #2C2C2C;

  &__logo{
    height: 28px;
  }

  &__block1{
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__last{
    display: block;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    position: relative;

    &::after{
      content: "";
      border-radius: 1px;
      display: block;
      position: absolute;
      bottom: -8px;
      width: 100%;
      height: 2px;
      background-color: #2060F6;
    }
  }
}
