.vpr{
  background-color: #fff;
  height: 571px;
  width: 100%;
  margin-bottom: 120px;

  @include on-tablet{
    background-image: url(../images/logo/Shapes.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 740px;
    margin-bottom: 0;
  }

  @include on-desktop{
    height: 691px;
  }

  &__container{
    display: flex;
    margin-inline: auto;
    max-width: 754px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 72px;

    @include on-tablet{
      padding-block: 200px;
    }

    &--title{
      font-family: Poppins;
      font-weight: 600;
      font-size: 44px;
      line-height: 120%;
      text-align: center;
      vertical-align: middle;
      color: #253757;

      @include on-tablet{
        font-size: 52px;
      }

      @include on-desktop{
        line-height: 150%;
      }
    }

    &--text{
      font-family: Open Sans;
      font-weight: 600;
      font-size: 23px;
      line-height: 150%;
      text-align: center;
      color: #6C788B;

      padding-block: 24px 64px;
    }
  }
}
