.what-people-say{

  padding-bottom: 120px;

  @include on-tablet{
    padding-bottom: 148px;
  }

  @include on-desktop{
    padding-bottom: 186px;
  }
  &__title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    vertical-align: middle;
    padding-block: 16px 48px;

    &--enter{
      display: none;

      @include on-tablet{
        display: inline;
      }
    }

    &::before{
      display: block;
      content: "testimonials";
      font-family: Poppins;
      font-weight: 700;
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: #C0CDD7;
    }

  }

  &__items{
    @include page-grid;
    row-gap: 25px;
  }

  &__item{
    @include hover(transform, scale(1.1));

    display: flex;
    box-sizing: border-box;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    height: 456px;
    background-color: #fff;
    padding: 32px 42px;
    grid-column: span 2;

    @include on-tablet{
      height: 478px;
      padding: 32px 98px;
      grid-column: span 6;
    }

    @include on-desktop{
      height: 456px;
      padding: 32px 45px;
      grid-column: span 4;
    }

    @include on-big-desktop{
      height: 494px;
      padding: 32px 56px;
    }

    &--photo{
      height: 196px;
      width: 196px;

      @include on-tablet{
        width: 250px;
        height: 250px;
      }

      @include on-desktop{
        height: 196px;
        width: 196px;
      }

      @include on-big-desktop{
        width: 250px;
        height: 250px;
      }
    }

    &--skobki{
      width: 24px;
      height: 24px;
      margin-top: 24px;
      margin-bottom: 8px;

      @include on-tablet{
        margin-bottom: 16px;
      }

      @include on-desktop{
        margin-bottom: 8px;
      }
    }

    &--text{
      font-family: Open Sans;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      text-align: center;
      color: #6C788B;
    }


    &--name{
      font-family: Open Sans;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      text-align: center;
      color: #253757;
      padding-block: 16px 4px;
    }

    &--job{
      font-family: Poppins;
      font-weight: 700;
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 3px;
      text-align: center;
      text-transform: uppercase;
      color: #C0CDD7;
    }
  }
}
